body {
    font-family: courier;
}

h1 {
    text-align: center;
}

button {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8b0000;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
}

.container {
    width:320px;
    margin: auto;
}

.row {
    position: relative;
}